<!DOCTYPE html>
<html>
<head>
    <title>Keyword Tidak Ditemukan</title>
    <style>
        body {
            text-align: center;
        }

        img {
            max-width: 400px;
            margin-top: 50px;
        }

        p {
            margin-top: 20px;
            font-weight: bold;
            color: red;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9nA3JoEp_3guD3vn4HpIOqbc8MXsZ7p6o8f9CFu4UPH0bHLnkwaivyMi2cMTVBp4rt8M&usqp=CAU" alt="Gambar tidak ditemukan">
    <p>Keyword yang dimasukkan tidak ditemukan.</p>
    <a class="btn" href="http://127.0.0.1:5000/">Kembali ke Halaman Utama</a>
</body>
</html>
